%dl.dl-horizontal.rsvp.thumbnail.text-left.hidden-sm.hidden-xs{ style: '' }
  %dt Name
  %dd= @rsvp.name
  %dt Email
  %dd= @rsvp.email
  %dt Attending?
  %dd= @rsvp.coming? ? 'Yes' : 'No'
  %dt Overnight?
  %dd= @rsvp.overnight? ? 'Yes' : 'No'
  - unless @rsvp.additional_guest.blank?
    %dt Guest?
    %dd= @rsvp.additional_guest
  - unless @rsvp.message.blank?
    %dt Message
    %dd
      :markdown
        #{@rsvp.message}
