#intro.introduction{ class: current_rsvp.present? ? 'thanks' : '' }
  .cover
    .container.text
      - if current_rsvp.present?
        = render 'thanks'
      - else
        = render 'invitation'

#details.wedding-details
  .cover
    .container
      = render 'venue'

      %h2 Resort Activities
      %P
        After the wedding and brunch please feel free to enjoy the hot springs or other resort activities.
      .text-center
        %ul.nav
          %li= link_to 'Summer', 'http://www.chenahotsprings.com/summer-activities/'
          %li= link_to 'Winter', 'http://www.chenahotsprings.com/winter-activities/'

      = render 'registry'
%iframe#map{ src:"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1395.600041939964!2d-146.05917789344707!3d65.05297430049441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5133d8acb8f60ccb%3A0x3b69840ff86f3f06!2sChena+Hot+Springs+Resort!5e0!3m2!1sen!2sus!4v1466890871019", frameborder:0, style: "border:0; width: 100%; height: 600px;",  allowfullscreen: true }
